.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
	width: 100% !important;
	max-width: 100% !important;
	margin: 0;
	padding: 0;
}

.login-container {
	width: min(570px, 90%);
	margin: 0 auto;
}

.container__fluid {
	margin: 0;
	border: 1px solid #d9d9d9;
	padding: 50px 30px;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	flex: 1;
}

form {
	padding: 15px 0;
}

.head-title {
	color: #0071bb;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 0px 5px 0px;
	margin-bottom: 20px;
}

.header-sub-title {
	color: #4a4a4a;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0;
}

.panel-body-line {
	border-top: 1px solid #d8d8d8;
	width: calc(100% + 60px);
	height: 1px;
	margin-left: -30px;
}

.panel-body-item {
	padding-top: 15px;
}

.panel-body-item strong {
	color: #0071bb;
}

.panel-body-item a {
	padding-left: 5px;
}

.gray-lbl {
	color: #8191a0;
}